.page-container {
  padding: 2rem;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 0.5rem 1rem;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.back-button:hover {
  background: #125ea7;
}

.details-container {
  margin-top: 4rem;
  padding: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}
